SERVER_PORT=8080
HOST_SESSIONS_DIR=./sessions

FETCH_INTERVAL_SEC=600

TG_BACKEND_API_ID=
TG_BACKEND_API_HASH=
TG_BACKEND_RECONNECT_DELAY=60

TG_BOT_API_ID=
TG_BOT_API_HASH=
TG_BOT_TOKEN=
BOT_POLL_INTERVAL=600
